@import "tailwindcss";

@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "./daisyui.mjs";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.mjs"{
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0.008 258.69);
	--color-base-300: oklch(99% 0.003 252.86);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(46% 0.228 260.92);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(68% 0.163 184.32);
	--color-secondary-content: oklch(98% 0.014 180.72);
	--color-accent: oklch(62% 0.267 22.45);
	--color-accent-content: oklch(94% 0.03 12.58);
	--color-neutral: oklch(14% 0.052 265.87);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(83% 0.094 211.43);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(82% 0.092 163.21);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(83% 0.092 76.54);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(82% 0.112 24.87);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
